<p id="notice"><%= notice %></p>

<h1><%= t 'movies.title' %></h1>
<h4><%= t 'movies.subtitle' %></h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th>Run time</th>
      <th>Release date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= movie.run_time %></td>
        <td><%= localize(movie.release_date, format: :long) %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
